In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('Depression Professional Dataset.csv')
df.head()

,gender,age,work_pressure,job_satisfaction,sleep_duration,dietary_habits,suicidal_thoughts,work_hours,financial_stress,mental_ilness_in_family,depression
0,Female,37,2,4,7-8 hours,Moderate,No,6,2,No,No
1,Male,60,4,3,5-6 hours,Unhealthy,Yes,0,4,Yes,No
2,Female,42,2,3,5-6 hours,Moderate,No,0,2,No,No
3,Female,44,3,5,7-8 hours,Healthy,Yes,1,2,Yes,No
4,Male,48,4,3,7-8 hours,Moderate,Yes,6,5,Yes,No

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2054 entries, 0 to 2053
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   gender                   2054 non-null   object
 1   age                      2054 non-null   int64
 2   work_pressure            2054 non-null   int64
 3   job_satisfaction         2054 non-null   int64
 4   sleep_duration           2054 non-null   object
 5   dietary_habits           2054 non-null   object
 6   suicidal_thoughts        2054 non-null   object
 7   work_hours               2054 non-null   int64
 8   financial_stress         2054 non-null   int64
 9   mental_ilness_in_family  2054 non-null   object
 10  depression               2054 non-null   object
dtypes: int64(5), object(6)
memory usage: 176.6+ KB

In [4]:
df.gender.value_counts()

gender
Male      1066
Female     988
Name: count, dtype: int64

In [5]:
wrangled_df = df.rename(columns = {'gender': 'male'})
wrangled_df.male = (wrangled_df.male == 'Male').astype(int)
wrangled_df.male.value_counts()

male
1    1066
0     988
Name: count, dtype: int64

In [6]:
wrangled_df.sleep_duration.value_counts()

sleep_duration
7-8 hours            530
Less than 5 hours    525
5-6 hours            505
More than 8 hours    494
Name: count, dtype: int64

In [7]:
wrangled_df.dietary_habits.value_counts()

dietary_habits
Unhealthy    713
Healthy      681
Moderate     660
Name: count, dtype: int64

In [8]:
wrangled_df.suicidal_thoughts.value_counts()

suicidal_thoughts
No     1065
Yes     989
Name: count, dtype: int64

In [9]:
wrangled_df.suicidal_thoughts = (wrangled_df.suicidal_thoughts == 'Yes').astype(int)
wrangled_df.suicidal_thoughts.value_counts()

suicidal_thoughts
0    1065
1     989
Name: count, dtype: int64

In [10]:
wrangled_df.mental_ilness_in_family.value_counts()

mental_ilness_in_family
No     1046
Yes    1008
Name: count, dtype: int64

In [11]:
wrangled_df.mental_ilness_in_family = (wrangled_df.mental_ilness_in_family == 'Yes').astype(int)
wrangled_df.mental_ilness_in_family.value_counts()

mental_ilness_in_family
0    1046
1    1008
Name: count, dtype: int64

In [12]:
wrangled_df.depression.value_counts()

depression
No     1851
Yes     203
Name: count, dtype: int64

In [13]:
wrangled_df.depression = (wrangled_df.depression == 'Yes').astype(int)
wrangled_df.depression.value_counts()

depression
0    1851
1     203
Name: count, dtype: int64

In [14]:
wrangled_df.head(10)

,male,age,work_pressure,job_satisfaction,sleep_duration,dietary_habits,suicidal_thoughts,work_hours,financial_stress,mental_ilness_in_family,depression
0,0,37,2,4,7-8 hours,Moderate,0,6,2,0,0
1,1,60,4,3,5-6 hours,Unhealthy,1,0,4,1,0
2,0,42,2,3,5-6 hours,Moderate,0,0,2,0,0
3,0,44,3,5,7-8 hours,Healthy,1,1,2,1,0
4,1,48,4,3,7-8 hours,Moderate,1,6,5,1,0
5,0,60,1,4,7-8 hours,Unhealthy,1,12,3,1,0
6,0,30,4,2,More than 8 hours,Healthy,0,3,1,0,0
7,1,30,1,2,More than 8 hours,Unhealthy,1,6,1,0,0
8,1,56,1,2,More than 8 hours,Moderate,1,11,5,1,0
9,0,35,3,4,Less than 5 hours,Moderate,0,6,4,1,0

In [15]:
wrangled_df.to_csv('wrangled_data.csv', index = False)